@if (User.Identity.IsAuthenticated)
{
    <h1>"Hello, @User.Identity.Name!" </h1>
    <form asp-controller="Account" asp-action="Logout" method="post">
        <button type="submit" class="btn btn-link">Logout</button>
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Register</a>
}